# ---------------------------
# VS Code 관련
# ---------------------------
.vscode/
*.code-workspace

# ---------------------------
# OS 자동 생성 파일
# ---------------------------
.DS_Store
Thumbs.db
desktop.ini

# ---------------------------
# 로그 / 임시파일
# ---------------------------
*.log
*.tmp
*.swp
*.swo